.square {
    background: #fff;
    float: left;
    font-size: 90px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    width: 100px;
    padding: 0;
    text-align: center;
    border: 0.5px solid #999;
}